In [1]:
import numpy as np
import pandas as pd

##get the data

In [2]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df=pd.read_csv('/home/cloudsuperadmin/giskard-data-analysis/movies-recommender-in-python/u-movies.csv', sep='\t', names=column_names)

In [3]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742